<?xml version="1.0" encoding="utf-8"?>
<!--
Web.config file for NewDrugsReport.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <appSettings>
    <add key="NewDSN" value="YhNqF2fNXOg0XSUXpZ9FoL4WVyZdIQ09mOyxzvUiOQgfkr2ornPoDNq5dzroeQ6cvxh2SG9hwEXzlxiyvPadZITLWOkMWK23pQHx5IKak/omaLXBj8VlLefa0wyMczFsiyaFseZuznQoRloiF4snNWbbpf5cYN8v4gHp9K6nod6jcJcyyWU/+V0b1/Cri2rPRq3GYRxodbaR8lGAnBcT5qOamZkS9I6jio12/njAsl4=" />
    <!--寄信smtp server-->
    <add key="smtpServer" value="smtp.gmail.com" />
    <!--寄信smtp server的Port，預設25-->
    <add key="smtpPort" value="25" />
    <!--寄件者-->
    <add key="mailFrom" value="service@cityinfo.com.tw" />
    <add key="mailFromName" value="市訊資訊" />
    <!--寄信帳密-->
    <add key="mailAccount" value="service@cityinfo.com.tw" />
    <add key="mailPwd" value="UUCv6aWx8Lb3NSJodDOUDQ==" />
    <add key="useSSL" value="Y" />
    <add key="csrcServer" value="http://www.cityinfo.com.tw:7777" />
    <add key="rejectToCsrcUrl" value="/CsrcWebApi/csrc/unlockEventBasic" />
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Views/Login/Index" />
    </authentication>
    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="~/ErrorPages/error404.html" />
      <error statusCode="500" redirect="~/ErrorPages/error500.html" />
    </customErrors>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <!--<Authentication> <forms loginUrl="~/"/> </Authentication> -->
    <httpRuntime targetFramework="4.5" maxRequestLength="10240" executionTimeout="300" enableVersionHeader="false" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" cookieless="false" timeout="30"/>-->
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <httpErrors errorMode="Detailed">
      <remove statusCode="404" />
      <error statusCode="404" path="~/ErrorPages/Error.html" responseMode="File" />
      <remove statusCode="500" />
      <error statusCode="500" path="~/ErrorPages/Error.html" responseMode="File" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <!--<add segment="logs"/>
          <add segment="scripts"/>
          <add segment="content"/>-->
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.6053.22017" newVersion="1.0.6053.22017" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
